<table>
  <div class="BUBU">
    <label class="round-checkbox">
      <input type="checkbox" (change)="fetchProducts('calcio')" />
      <span class="checkmark"></span>
      Calcio
    </label>

    <label class="round-checkbox">
      <tr>
        <input type="checkbox" (change)="fetchProducts('pallavolo')" />
        <span class="checkmark"></span>
      </tr>
      Pallavolo
    </label>

    <label class="round-checkbox">
      <tr>
        <input type="checkbox" (change)="fetchProducts('hockey')" />
        <span class="checkmark"></span>
      </tr>
      Hockey
    </label>

    <label class="round-checkbox">
      <tr>
        <input type="checkbox" (change)="fetchProducts('rugby')" />
        <span class="checkmark"></span>
      </tr>
      Rugby
    </label>
    <label class="round-checkbox">
      <tr>
        <input type="checkbox" (change)="fetchProducts('tennis')" />
        <span class="checkmark"></span>
      </tr>
      Tennis
    </label>
    <label class="round-checkbox">
      <tr>
        <input type="checkbox" (change)="fetchProducts('nuoto')" />
        <span class="checkmark"></span>
      </tr>
      Nuoto
    </label>
    <label class="round-checkbox">
      <tr>
        <input type="checkbox" (change)="fetchProducts('boxe')" />
        <span class="checkmark"></span>
      </tr>
      Boxe
    </label>
  </div>
</table>
