
<!-- <mat-slider min="0" max="500" step="1" thumbLabel="true">
    <input value="0" matSliderStartThumb>
    <input value="500" matSliderEndThumb>
  </mat-slider> -->

  <!-- <mat-slider min="0" max="500" step="1" thumbLabel="true" (input)="showSliderValue($event)">
  </mat-slider> -->
  
  <!-- <p>Valore selezionato: {{ sliderValue }}</p> -->

<!-- 

  <mat-slider min="0" max="500" step="1" thumbLabel="true" (input)="onValueChange($event)">
    <input value="0" matSliderStartThumb>
    <input value="500" matSliderEndThumb>
  </mat-slider> -->


  <mat-slider min="200" max="500">
    <input value="300" matSliderStartThumb>
    <input value="400" matSliderEndThumb>
  </mat-slider>