<div class="breadcrumb-bar">
  <div class="breadcrumb-path">
    <!-- {{ path }} -->
  </div>
</div>

<!-- <nav aria-label="Breadcrumb">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a href="/">{{path}}</a></li>
      <li>{{path}}</li>
    </ul>
  </nav> -->

<!-- 
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" ngFor="let breadcrumb of breadcrumbs; let last = last" [ngClass]="{'active': last}">
        <a *ngIf="!last; else lastBreadcrumb" [routerLink]="[breadcrumb.url]">{{breadcrumb.label}}</a>
        <ng-template #lastBreadcrumb>{{breadcrumb.label}}</ng-template>
      </li>
    </ol>
  </nav> -->
