<div class="proviamoconlemisure">
  <div class="colonnaXS">
    <label class="square-checkbox">
      <input type="checkbox" />
      <span class="checkmark"></span>
      XS
    </label>
    <label class="square-checkbox">
      <input type="checkbox" />
      <span class="checkmark"></span>
      S
    </label>
    <label class="square-checkbox">
      <input type="checkbox" />
      <span class="checkmark"></span>
      M
    </label>
  </div>
  <div class="colonnaL">
    <label class="square-checkbox">
      <input type="checkbox" />
      <span class="checkmark"></span>
      L
    </label>
    <label class="square-checkbox">
      <input type="checkbox" />
      <span class="checkmark"></span>
      XL
    </label>
    <label class="square-checkbox">
      <input type="checkbox" />
      <span class="checkmark"></span>
      XXL
    </label>
  </div>
</div>
