<header>
    Gestionale di Amministrazione - Prodotti
</header>
<app-sidebar></app-sidebar>
<body>

    <div class="main-content">
      <button (click)="showAddProductForm()" id="add-product-btn"><i class="fas fa-plus"> <mat-icon>add</mat-icon></i> Aggiungi Prodotto</button>
      <button (click)="filtraEsaurimento()" id="filter-low-stock-btn"><i class="fas fa-filter"> <mat-icon>like</mat-icon> </i> Filtra Esaurimento</button>
      <h1>Prodotti</h1>
      <table>
        <thead>
          <tr>
            <th>Codice Articolo</th>
            <th>Nome</th>
            <th>Taglia</th>
            <th>Colore</th>
            <th>Categoria</th>
            <th>Prezzo</th>
            <th>Disponibilità</th>
            <th>Azioni</th>
          </tr>
        </thead>
        <tbody id="product-table-body">
          <tr  *ngFor="let prodotto of prodItem">
            <td>{{prodotto.codice_articolo}}</td>
            <td>{{prodotto.nome}}</td>
            <td>{{prodotto.taglia}}</td>
            <td>{{prodotto.colore}}</td>
            <td>{{prodotto.categoria}}</td>
            <td>{{prodotto.prezzo}}</td>
            <td>{{prodotto.quantita}}</td>
            <td class="action-buttons">
              <button (click)="editProduct(prodotto.id.toString())"><i class="fas fa-edit"> <mat-icon>edit</mat-icon> </i></button>
              <button (click)="deleteProduct(prodotto.id.toString())"><i class="fas fa-trash"><mat-icon>delete</mat-icon> </i></button>              
            </td>

          </tr>
          <!-- Le righe della tabella saranno aggiunte dinamicamente qui -->
        </tbody>
      </table>
    </div>
    </body>
